.main-account {
	display: grid;
	place-items: center;
	padding: 1.5rem;
	gap: 2rem;
}

.info-container {
    max-width: 600px;
	width: 100%;
	margin-bottom: 3rem;
}

.info-form {
	background: var(--neutral-0);
	padding: 3rem;
	border-radius: 12px;
	box-shadow: 0 4px 20px var(--shadow-primary);
}

.info-header {
	text-align: center;
	margin-bottom: 2rem;
}

.info-header h1 {
	font-size: 1.75rem;
	color: var(--primary-600);
	margin-bottom: 0.5rem;
	font-weight: 700;
}

.reservation-header {
	text-align: center;
	margin-bottom: 2rem;
}

.reservation-header h1 {
	font-size: 2.25rem;
	color: var(--primary-600);
	margin-bottom: 0.5rem;
	font-weight: 700;
}

.form-group {
	margin-bottom: 1.5rem;
}

.form-group label {
	display: block;
	font-size: 0.95rem;
	color: var(--text-bold);
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.form-input {
	position: relative;
	display: flex;
	align-items: center;
}

.form-input input {
	width: 100%;
	padding: 0.875rem 1rem;
	border-radius: 8px;
	font-size: 1rem;
	border: 2px solid var(--primary-600);
	transition: all 0.3s ease;
}



.form-input input[readonly] {
    background: var(--neutral-100);
    border: 1px solid var(--neutral-400); 
    color: var(--text-bold);
    cursor: default; 
    font-weight: 500;
}


.form-input input#email[readonly] {
    cursor: not-allowed;
}


.form-input input:not([readonly]) {
    background: var(--neutral-0);
    box-shadow: 0 4px 6px var(--shadow-primary);
	color: var(--text-bold);
}

.form-input input:not([readonly]):focus {
    outline: 2px solid transparent; 
    outline-offset: 2px;
    border-color: var(--primary-800);
    box-shadow: 0 0 0 3px var(--shadow-primary);
}


.logout-button {
    width: 100%;
    padding: 0.875rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: block; 
    margin-bottom: 10px;
    color: white;
}

.logout-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.logout-button:active {
    transform: translateY(0);
}

.button-container {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
}

#editBtn {
    background-color: var(--primary-500);
	cursor: pointer;
	border: none; 
}

#saveBtn {
    background-color: var(--primary-700);
	display: none; 
	cursor: pointer; 
	border: none;
}


a.logout-button[href*="logout"] {
    background-color: var(--delete); 
    margin-top: 1rem;
}

a.logout-button[href*="logout"]:hover {
    background-color: var(--error);
}

@media (max-width: 768px) {
    main {
        padding: 1rem;
    }
    
    .info-container {
        margin-bottom: 40px;
    }
}

@media (max-width: 480px) {
	.info-form {
        padding: 1.5rem 1rem; 
    }

    .info-header h1 {
        font-size: 1.5rem;
    }
    
    .logout-button {
        padding: 1rem; 
    }
}

.reservation-container {
    width: 100%; 
    min-width: 0;
}

.table-container-account {
	width: 100%;
	border-radius: 8px;
	overflow-x: auto;
	max-width: 1000px;
	margin-top: 2rem;
	border: 1px solid var(--neutral-250);
}

.table-container-account table {
    width: 100%;
    min-width: 400px; 
    border-collapse: collapse;
}

.table-container-account th, 
.table-container-account td {
    white-space: nowrap;
    padding: 1rem; 
}

.reservation-header,
.filters,
.table-container-account,
.pagination-container {
    max-width: 1000px; 
    margin-left: auto; 
    margin-right: auto; 
}