.footer {
	background: var(--text-bold);
	color: white;
	padding: 2rem;
	text-align: center;
}

.footer p {
	margin-bottom: 1rem;
}

.footer .cta-primary-button.icon-button {
	padding: 0.7rem 1rem 0.3rem 1rem;
	margin-bottom: 1rem;
}
