<header>
	<nav class="navbar" role="navigation" aria-label="Navigazione principale">
		<div class="nav-container">
			<div class="logo">
				<img
					src="../assets/logo_white.png"
					class="logo-icon"
					alt="Logo del Centro Sportivo" />
				<span>SportLab</span>
			</div>

			<ul class="nav-menu" id="navMenu">
				<li>
					<a
						href="../views/home.php"
						aria-current="page"
						class="nav-link active"
						id="navMenuHome"
						lang="en"
						>Home</a
					>
				</li>
				<li>
					<a
						href="../views/service.php"
						aria-label="Vai a Servizi"
						class="nav-link"
						id="navMenuServizi"
						>Servizi</a
					>
				</li>
				<li>
					<a
						href="../views/login.php"
						aria-label="Accedi al tuo account"
						id="navMenuAccount"
						class="nav-link"
						>Account</a
					>
				</li>
				<li>
					<a href="#" class="cta-button" aria-label="Prenota una sessione"
						>Prenota</a
					>
				</li>
			</ul>

			<button
				class="menu-toggle"
				id="menuToggle"
				aria-label="Apri menu di navigazione"
				aria-expanded="false"
				aria-controls="navMenu"
				type="button">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</button>
		</div>
	</nav>
</header>
