<!DOCTYPE html>
<html data-theme="light" lang="it">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{base_path}}/../assets/logo_white.png" rel="icon" />
    <meta name="description" content="Errore 404: Pagina non trovata" />
    <meta name="language" content="it" />
    <title>404 – Pagina non trovata</title>
    <link href="{{base_path}}/../style/style.css" rel="stylesheet" />
    <link href="{{base_path}}/../style/error.css" rel="stylesheet" />


</head>


<body>

    <main class="error-page">
        <div class="error-container">
            <h1>404 – Pagina non trovata</h1>
            <p>La pagina che stai cercando non esiste o è stata spostata.</p>
            <a href="{{base_path}}/home.php">Torna alla home</a>
        </div>
    </main>

</body>


</html>