<!doctype html>
<html data-theme="light" lang="it">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="{{base_path}}/../assets/logo_white.png" rel="icon" />
		<meta name="description" content="Errore 500: Errore del server" />
		<title>500 – Errore del server</title>
		<link href="{{base_path}}/../style/style.min.css" rel="stylesheet" />
		<link href="{{base_path}}/../style/mobile.min.css" rel="stylesheet" media="screen and (max-width: 1024px)"/>
		<link href="{{base_path}}/../style/print.min.css" rel="stylesheet" media="print" />
	</head>

	<body>
		<main class="error-page">
			<div class="error-container">
				<h1>500 – Errore del server</h1>
				<p>Qualcosa è andato storto. Riprova più tardi.</p>
				<a href="{{base_path}}/home.php">Torna alla home</a>
			</div>
		</main>
	</body>
</html>
