<!DOCTYPE html>
<html data-theme="light" lang="it">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="../assets/logo_white.jpg" rel="icon" />
		<meta name="description" content="SportLab - Pagina di login" />
		<meta name="language" content="it" />
		<title>Account - SportLab</title>
		<link href="../style/style.css" rel="stylesheet" />
		<link href="../style/header.css" rel="stylesheet" />
		<link href="../style/footer.css" rel="stylesheet" />
	</head>


	<body>

	<<-HEADER->>

	<main>
		<<-NOME->> </br>
		<<-COGNOME->> </br>
		<<-DN->> </br>
		<<-EMAIL->> </br>
		
		<a href="../controller/logoutController.php">LOGOUT</a>
	</main>
	

	<<-FOOTER->>

	</body>
	

</html>
