<!DOCTYPE html>
<html data-theme="light" lang="it">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/Progetto_tecweb/assets/logo_white.png" rel="icon" />
    <meta name="description" content="Errore 500: Errore del server" />
    <meta name="language" content="it" />
    <title>500 – Errore del server</title>
    <link href="/Progetto_tecweb/style/style.css" rel="stylesheet" />
    <link href="/Progetto_tecweb/style/error.css" rel="stylesheet" />

</head>


<body>


    <main class="error-page">
        <div class="error-container">
            <h1>500 – Errore del server</h1>
            <p>Qualcosa è andato storto. Riprova più tardi.</p>
            <a href="/Progetto_tecweb/views/home.php">Torna alla home</a>
        </div>
    </main>

</body>


</html>