<!DOCTYPE html>
<html data-theme="light" lang="it">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/logo_white.png" rel="icon" />
    <meta name="description" content="SportLab - Pagina di login" />
    <meta name="language" content="it" />
    <title>500 – Errore del server</title>
    <link href="../../style/style.css" rel="stylesheet" />
    <link href="../../style/error.css" rel="stylesheet" />

</head>


<body>


    <main class="error-page">
        <div class="error-container">
            <h1>500 – Errore del server</h1>
            <p>Qualcosa è andato storto. Riprova più tardi.</p>
            <a href="/">Torna alla home</a>
        </div>
    </main>

</body>


</html>