<!DOCTYPE html>
<html data-theme="light" lang="it">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="../assets/logo_white.png" rel="icon" />
		<meta name="description" content="SportLab - Pagina di prenotazione" />
		<meta name="language" content="it" />
		<title>Prenotazioni - SportLab</title>
		<link href="../style/style.css" rel="stylesheet" />
		<link href="../style/reservation.css" rel="stylesheet" />
		<link href="../style/header.css" rel="stylesheet" />
		<link href="../style/footer.css" rel="stylesheet" />
        <script src="../scripts/reservationAdmin.js"></script>
	</head>
	<body>
	
        <<-HEADER->>
        
        <nav id="breadcrumb">
            <p>Ti trovi in: <span class="breadcrumb-page">Prenotazioni Admin</span></p>
        </nav>

        <main id="main-content" tabindex="-1">
            <form
					id="filtersForm"
					method="POST"
					action="reservation.php">
            <div class="filters">
            <div class="filter-group">
                <label for="searchName">Nome Cliente</label>
                <input type="text" id="searchName" placeholder="Nome cliente">
            </div>
            <div class="filter-group">
                <label for="searchSurname">Cognome Cliente</label>
                <input type="text" id="searchSurname" placeholder="Cognome cliente">
            </div>
            <div class="filter-group">
                <label for="filterSport">Sport</label>
                <select id="filterSport">
                    <option value="">Tutti</option>
                    <option value="Basket">Basket</option>
                    <option value="Calcio5">Calcio a 5</option>
                    <option value="Tennis">Tennis</option>
                </select>
            </div>
            <div class="filter-group">
                <label for="filterCourt">Campo</label>
                <select id="filterCourt">
                    <option value="">Tutti</option>
                    <option value="1">Campo 1</option>
                    <option value="2">Campo 2</option>
                    <option value="3">Campo 3</option>
                </select>
            </div>
            <div class="filter-group">
                <label for="filterDate">Data</label>
                <input type="date" id="filterDate">
            </div>
            <button class="filter-button" type="submit">Filtra</button>
        </div>
    </form>
        <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Sport</th>
                            <th>Campo</th>
                            <th>Data</th>
                            <th>Orario</th>
                            <th>Prezzo</th>
                            <th>Azioni</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        [adminReservations]
                    </tbody>
                </table>
            </div>
        </div>
        </main>

        <div class="overlay" id="dialogDelete">
            <div class="dialog">
                <div class="dialog-icon">⚠️</div>
                <h3>Conferma Eliminazione</h3>
                <p>Sei sicuro di voler eliminare questa prenotazione? Questa azione non può essere annullata.</p>
                <div class="dialog-actions">
                    <button class="btn btn-dl-cancel" onclick="closeDeleteDialog()">Annulla</button>
                    <button class="btn btn-dl-delete" onclick="deleteReservation()">Elimina</button>
                </div>
            </div>
        </div>

        <div class="overlay" id="dialogEdit">
            <div class="dialog">
                <div class="dialog-icon">⚠️</div>
                <h3>Modifica Prenotazione</h3>
                <!-- <p>Modifica i dettagli della prenotazione qui sotto:</p> -->
                <div class="dialog-content">
                    <label for="editDate">Data:</label>
                    <input type="date" id="editDate" name="editDate" />
                    <label for="editTime">Orario:</label>
                    <input type="time" id="editTime" name="editTime" />
                </div>
                <div class="dialog-actions">
                    <button class="btn btn-dl-cancel" onclick="closeEditDialog()">Annulla</button>
                    <button class="btn btn-dl-submit" onclick="editReservation()">Conferma</button>
                </div>
            </div>
        </div>

        <<-FOOTER->>
    </body>
</html>
