<!DOCTYPE html>
<html data-theme="light" lang="it">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/logo_white.png" rel="icon" />
    <meta name="description" content="SportLab - Pagina di prenotazione" />
    <meta name="language" content="it" />
    <title>Prenotazioni - SportLab</title>
    <link href="../style/style.css" rel="stylesheet" />
    <link href="../style/reservation.css" rel="stylesheet" />
    <link href="../style/header.css" rel="stylesheet" />
    <link href="../style/footer.css" rel="stylesheet" />
</head>

<body>

    <<-HEADER->>


        <main>

            <form action="reservationController.php" method="post">
                <div class="form-separation">
                    <div class="separation">
                        <fieldset>
                            <legend>1. Scegli lo sport</legend>
                            <div class="sport-form">
                                <label>
                                    <input type="radio" name="sport" value="tennis" required>
                                    <img src="../assets/icon-tennis.png" alt="" aria-hidden="true">
                                    <span class="visually-hidden">Tennis</span>
                                </label>
                                <label>
                                    <input type="radio" name="sport" value="basket">
                                    <img src="../assets/icon-basketball.png" alt="" aria-hidden="true">
                                    <span class="visually-hidden">Basket</span>
                                </label>
                                <label>
                                    <input type="radio" name="sport" value="calcetto">
                                    <img src="../assets/icon-soccer.png" alt="" aria-hidden="true">
                                    <span class="visually-hidden">Calcetto</span>
                                </label>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>2. Scegli la data</legend>
                            <div class="date-form"> <label> <input type="date" name="date" value="" required> Giorno</label> </div>
                        </fieldset>
                    </div>
                    <div class="separation">
                        <fieldset>
                            <legend>3. Scegli la fascia oraria</legend>
                            <div class="timetable-form">
                                <label> <input type="radio" name="timetable" value="1" required> 8:00-9:30 </label>
                                <label> <input type="radio" name="timetable" value="2"> 9:30-11:00 </label>
                                <label> <input type="radio" name="timetable" value="3"> 11:00-12:30 </label>
                                <label> <input type="radio" name="timetable" value="4" required> 13:00-14:30 </label>
                                <label> <input type="radio" name="timetable" value="5"> 14:30-16:00 </label>
                                <label> <input type="radio" name="timetable" value="6"> 16:00-17:30 </label>
                                <label> <input type="radio" name="timetable" value="7" required> 17:30-19:00 </label>
                                <label> <input type="radio" name="timetable" value="8"> 19:00-20:30 </label>
                                <label> <input type="radio" name="timetable" value="9"> 20:30-22:00 </label>

                            </div>
                        </fieldset>
                    </div>
                </div>

                <input class="submit-button" type="submit" value="Submit">
            </form>



        </main>

        <<-FOOTER->>

</body>

</html>